/* .App {
  text-align: center;
}*/

:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
}

[data-theme="dark"] {
  --background-color: #333333;
  --text-color: #ffffff;
  --primary-color: #4dabf7;
  --secondary-color: #adb5bd;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
