/* General Styles */

body {
  margin: 0;
  padding: 0;
  font-family: "Mooli", sans-serif;
}
/* 
.Homepage {
  font-family: "Mooli", sans-serif;
  width: 100%;
  height: auto;
  background: #f5f5f5;
} */

/* Hero Section */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  background-color: #f0f0f0;
  transition: background-color 0.5s ease;
}

.hero--loaded {
  background-color: transparent;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.hero--loaded .hero__background {
  opacity: 1;
}

.hero__content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #333;
  transition: color 0.5s ease;
  padding: 2rem;
  font-family: "Pacifico", cursive;
  width: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7));
  margin-bottom: 4rem;
}

.hero--loaded .hero__content {
  color: white;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.scroll-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.scroll-down.hidden {
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
}
.hero--loaded .scroll-down {
  opacity: 1;
}

.scroll-down span {
  margin-bottom: 0.5rem;
}

.scroll-down__arrow {
  width: 20px;
  height: 20px;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
  animation: arrowBounce 2s infinite;
}

@keyframes arrowBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(-45deg);
  }
  40% {
    transform: translateY(-10px) rotate(-45deg);
  }
  60% {
    transform: translateY(-5px) rotate(-45deg);
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }

  .hero__content {
    margin-bottom: 3rem;
  }
}

/* Features Section */
.Features {
  padding: 80px 10%;
  background: #212121;
  text-align: left;
}

.GivingYouPeaceOfMind {
  color: white;
  font-size: 2em;
  font-family: "Mooli", sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
}

.Frame427320976 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.Frame427320974 {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.Frame386,
.Frame387,
.Frame388,
.Frame389,
.Frame390,
.Frame391 {
  flex: 1 1 calc(33% - 40px);
  background: #3b3b3b;
  box-shadow: 0px 11px 52px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Frame386,
.Frame387,
.Frame388,
.Frame389,
.Frame390,
.Frame391 div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Notepad8860368,
.Hut88603311,
.Wand8860488,
.Tag8860449,
.Globe8860304,
.Like88603361 {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Group {
  position: relative;
}

.EasyBookingProcess,
.CommunityAndNetworking,
.ModernAmenities,
.BestPrice,
.StrategicLocation {
  color: white;
  font-size: 1.25em;
  font-family: "Mooli", sans-serif;
  font-weight: 700;
}

.RentingAnOfficeWithUsIsSimpleAndHassleFreeOurUserFriendlyOnlinePlatformAllowsYouToBookYourIdealWorkspaceInJustAFewClicks,
.JoinAVibrantCommunityOfProfessionalsAndEntrepreneursNetworkCollaborateAndExchangeIdeasInAnEnvironmentThatFostersInnovationAndGrowth,
.EnjoyAComfortableAndProductiveWorkEnvironmentWithStateOfTheArtFacilitiesHighSpeedInternetMeetingRoomsErgonomicFurniture,
.NotSureWhatYouShouldBeChargingForYourPropertyLetUsDoTheNumbersForYouContactUsTodayForAFreeRentalAppraisalOnYourHome,
.LocatedInTheCityCenterCloseToTheShoppingCenterVeryGoodForAreasSurroundedByInternationalEducationCentersStartUpOfficeCenters {
  color: white;
  font-size: 1em;
  font-family: "Mooli", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

@media (max-width: 1200px) {
  .Frame427320974 {
    flex-direction: column;
    gap: 20px;
  }
  .Frame386,
  .Frame387,
  .Frame388,
  .Frame389,
  .Frame390,
  .Frame391 {
    flex: 1 1 100%;
  }
}

@media (max-width: 768px) {
  .Frame427320957 {
    padding: 10px;
  }
  .RentOfficesTailoredToYourSuccess {
    font-size: 2em;
  }
  .Frame427320752 {
    flex-direction: column;
    padding: 10px;
  }
  .Frame427320794 {
    justify-content: center;
  }
  .Features {
    padding: 40px 5%;
  }
  .GivingYouPeaceOfMind {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  .RentOfficesTailoredToYourSuccess {
    font-size: 1.5em;
  }
  .SearchHere {
    font-size: 0.875em;
  }
  .GivingYouPeaceOfMind {
    font-size: 1.25em;
  }
  .EasyBookingProcess,
  .CommunityAndNetworking,
  .ModernAmenities,
  .BestPrice,
  .StrategicLocation {
    font-size: 1em;
  }
  .RentingAnOfficeWithUsIsSimpleAndHassleFreeOurUserFriendlyOnlinePlatformAllowsYouToBookYourIdealWorkspaceInJustAFewClicks,
  .JoinAVibrantCommunityOfProfessionalsAndEntrepreneursNetworkCollaborateAndExchangeIdeasInAnEnvironmentThatFostersInnovationAndGrowth,
  .EnjoyAComfortableAndProductiveWorkEnvironmentWithStateOfTheArtFacilitiesHighSpeedInternetMeetingRoomsErgonomicFurniture,
  .NotSureWhatYouShouldBeChargingForYourPropertyLetUsDoTheNumbersForYouContactUsTodayForAFreeRentalAppraisalOnYourHome,
  .LocatedInTheCityCenterCloseToTheShoppingCenterVeryGoodForAreasSurroundedByInternationalEducationCentersStartUpOfficeCenters {
    font-size: 0.875em;
  }
}

/*LatestSpaces styles*/
.properties {
  background: #2c2c2c;
  color: #fff;
  padding: 2rem;
}

.properties h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.properties__filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.properties__filters button,
.properties__filters select {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.properties__list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  cursor: pointer;
}

.property {
  background: #3b3b3b;
  border-radius: 0.5rem;
  overflow: hidden;
  width: calc(20% - 1rem);
  min-width: 200px;
}

.property img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.property__info {
  padding: 1rem;
}

.property__info h4 {
  margin: 0;
  color: #ffd700;
}

.property__info p {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .property {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 480px) {
  .property {
    width: 100%;
  }
}

/* Categories styles */
.cat-categories-showcase {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #2c2c2c;
  padding: 2rem;
}

.cat-card {
  display: flex;
  background-color: #3b3b3b;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out,
    box-shadow 0.3s ease-in-out;
}

.cat-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.cat-card:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cat-card:hover {
  transform: translateY(-5px) scale(1.01);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.cat-card.reversed {
  flex-direction: row-reverse;
}

.cat-card-content {
  flex: 1;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cat-card-title {
  font-size: 2.7rem;
  margin-bottom: 1rem;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.cat-card:hover .cat-card-title {
  color: #ffd700;
}

.cat-card-description {
  font-size: 1.3rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.cat-see-more-btn {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  background-color: #ffd700;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.cat-see-more-btn:hover {
  background-color: #ffd900a8;
  transform: translateY(-2px);
  color: #fff;
  font-weight: 700;
}

.cat-card-image {
  flex: 1;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.cat-card-image.hovered {
  transform: scale(1);
}

.cat-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

/* .cat-card-image.hovered img {
  transform: scale(1.1);
} */

@media (max-width: 768px) {
  .cat-card,
  .cat-card.reversed {
    flex-direction: column;
  }

  .cat-card-image {
    height: 200px;
  }
  .cat-card-content {
    flex: 1;
    padding: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cat-card-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
  }
}
.end_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 72px;

  background-color: #2a2a2a;
}

@media (max-width: 768px) {
  .end_container {
    padding: 24px 5px;
  }
}

.end_header {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}

@media (max-width: 768px) {
  .end_header {
    font-size: 2.5rem;
    max-width: 100%;
  }
}

.end_content {
  margin-top: 64px;
  width: 100%;
}

@media (max-width: 768px) {
  .end_content {
    margin-top: 40px;
    max-width: 100%;
  }
}

.end_card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.end_card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;
  border-radius: 0.5rem;
  background-color: #3a3a3a;
  min-width: 240px;
  box-shadow: 0px 37px 171px rgba(0, 0, 0, 0.07);
}

@media (max-width: 768px) {
  .end_card {
    padding: 20px;
    max-width: 100%;
  }
}

.end_icon {
  object-fit: contain;
  width: 3rem;
  aspect-ratio: 1 / 1;
}

.end_title {
  margin-top: 20px;
  font-size: 1.875rem;
  font-weight: 700;
  color: #ffffff;
}

.end_description {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.75;
  color: #ffffff;
}

.end_card-container {
  margin-top: 40px;
}

.end_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 72px;
  background-color: #2a2a2a;
}

@media (max-width: 768px) {
  .end_container {
    padding: 24px 5px;
  }
}

.end_header {
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}

@media (max-width: 768px) {
  .end_header {
    font-size: 2.5rem;
    max-width: 100%;
  }
}

.end_content {
  margin-top: 64px;
  width: 100%;
}

@media (max-width: 768px) {
  .end_content {
    margin-top: 40px;
    max-width: 100%;
  }
}

.end_card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}

.end_card {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 32px;
  border-radius: 0.5rem;
  background-color: #3a3a3a;
  min-width: 240px;
  box-shadow: 0px 37px 171px rgba(0, 0, 0, 0.07);
}

@media (max-width: 768px) {
  .end_card {
    padding: 20px;
    max-width: 100%;
  }
}

.end_icon {
  object-fit: contain;
  width: 3rem;
  aspect-ratio: 1 / 1;
}

.end_title {
  margin-top: 20px;
  font-size: 1.875rem;
  font-weight: 700;
  color: #ffffff;
}

.end_description {
  margin-top: 20px;
  font-size: 1rem;
  line-height: 1.75;
  color: #ffffff;
}

.mt-10 {
  margin-top: 40px;
}
