.item {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 10px;
}

.approveButton,
.rejectButton {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.approveButton {
  background-color: #4caf50;
  color: white;
}

.approveButton:hover {
  background-color: #45a049;
}

.rejectButton {
  background-color: #f44336;
  color: white;
}

.rejectButton:hover {
  background-color: #e53935;
}
