/* General Styles */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #2e2e2e;
}

.container-light {
  background-color: #cbd5e1;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-amber {
  color: #fbbf24;
}

/* Mission, Vision, Values, Team sections */
.section {
  padding: 5rem 0;
  text-align: center;
}

.section-title {
  font-size: 4rem;
  color: #fbbf24;
}

.section-text {
  color: white;
}

/* Team Member Card */
.team-member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 15rem;
}

.team-member-card img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

/* .navbar, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fade92;
  color: white;
}

.navbar a, .footer a {
  color: #2e2e2e; 
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s ease;
}

.navbar a:hover, .footer a:hover {
  color: #fbbf24; 
}


.nover {
  color: transparent;
  transition: color 0.3s ease;
}

.nover:hover {
  color: #fbbf24;
} */
