* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #333;
}

body {
    min-height: 100vh;
    background-color: #f4f6f6;
}
.space-form {
    width: 100%;
    max-width: 800px; /* Adjusted width for better layout */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensures padding and border are included in total width */
}
h2 {
    margin-bottom: 1rem;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
}input, select, textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"], button[type="button"] {
    width: 100%;
    padding: 14px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
button[type="submit"] {
    background-color: #007bff; /* Blue color */
    color: white;
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

button[type="submit"]:disabled {
    background-color: #0056b3; /* Darker blue for disabled state */
}

button[type="button"] {
    background-color: slategray;
    color: white;
}

button[type="button"]:hover {
    background-color: rgb(95, 107, 119);
}.input-error {
    border: 1px solid red;
}

p {
    color: rgb(218, 71, 71);
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.error-message {
    color: red;
    font-size: 14px;
}


