.nav-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000; /* Ensure the navbar is on top */
}

.nav-navbar--scrolled {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-navbar__brand {
  display: flex;
  align-items: center;
}

.nav-navbar__logo {
  max-width: 220px;
  height: auto;
}

.nav-navbar__links {
  display: flex;
  gap: 1.5rem;
  font-size: 20px;
  list-style: none;
  font-weight: 700;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0;
}

.nav-navbar__links a {
  text-decoration: none;
  color: #000;
  transition: ease-in-out 300ms;
}

.nav-navbar__links a:hover {
  text-decoration: underline;
}

.nav-dropdown {
  position: relative;
}

.nav-dropdown-menu {
  display: none;
  position: absolute;
  background: #ffffffc7;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: 768px) {
  .nav-dropdown:hover .nav-dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 15px;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    line-height: 2rem;
    width: 20%;
    background: #ffffffc7;
    padding: 0.5rem 0.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
  }
}

@media (max-width: 767px) {
  .nav-dropdown:hover .nav-dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: absolute;
    font-size: 15px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    line-height: 2rem;
    width: 20%;
    background: #ffffffc7;
    padding: 0.5rem 0.5rem;
    border-radius: 0 0 0.25rem 0.25rem;
  }
}

.nav-navbar__auth {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.login,
.signup,
.logout {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 21px;
  text-decoration: none;
}

.signup {
  background: #fff;
  border: none;
  color: #000;
  border-radius: 10px;
  font-size: 18px;
  transition: 300ms ease-in-out;
}

.signup:hover {
  background: #ffd700;
  color: #fff;
  border-radius: 10px;
}

.login {
  background: #fff;
  color: #000;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}

.login:hover {
  background: #ffd700;
  color: #fff;
  border-radius: 10px;
}

.logout {
  background: #fff;
  color: #000;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  transition: 300ms ease-in-out;
}

.logout:hover {
  background: #ffd700;
  color: #fff;
  border-radius: 10px;
}

.nav-navbar__profile {
  position: relative;
}

.nav-profile__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-profile__menu {
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.nav-profile__menu a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ccc;
}

.nav-profile__menu a:hover {
  background: #f0f0f0;
}

.nav-profile__menu a:last-child {
  border-bottom: none;
}

.nav-navbar__hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 25px;
  height: 20px;
  cursor: pointer;
  z-index: 1001;
}

.nav-navbar__hamburger span {
  display: block;
  width: 100%;
  height: 3px;
  background: #000;
}

@media (max-width: 768px) {
  .nav-navbar__links,
  .nav-navbar__auth {
    display: none;
  }

  .nav-navbar__links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #ffffffc7;
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    z-index: 1000;
  }

  .nav-navbar__links--open {
    transform: translateX(0);
  }

  .nav-navbar__hamburger {
    display: flex;
  }

  body.menu-open {
    overflow: hidden;
  }
  .login,
  .signup,
  .logout {
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 21px;
    text-decoration: none;
  }

  .signup {
    background: #fff;
    border: none;
    color: #000;
    border-radius: 10px;
    font-size: 18px;
    transition: 300ms ease-in-out;
  }

  .signup:hover {
    background: #ffd700;
    color: #fff;
    border-radius: 10px;
  }

  .login {
    background: #fff;
    color: #000;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 300ms ease-in-out;
  }

  .login:hover {
    background: #ffd700;
    color: #fff;
    border-radius: 10px;
  }

  .logout {
    background: #fff;
    color: #000;
    border: none;
    font-size: 18px;
    border-radius: 10px;
    transition: 300ms ease-in-out;
  }

  .logout:hover {
    background: #ffd700;
    color: #fff;
    border-radius: 10px;
  }
}
