.main {
  display: flex;
  max-width: 100%;
  justify-content: space-evenly;
  background-color: rgba(33, 33, 33, 1);
}

.display-item{
  background-color: rgba(33, 33, 33, 1);
}
.images{
  display: flex;
  min-width: 240px;
  flex-direction: column;
  justify-content: flex-start;
  width: 670px;
  margin-left: 7%;
  margin-top: 3%;
}

@media (max-width: 991px) {
  .image-gallery {
    max-width: 100%;
  }
}

.main-image {
  aspect-ratio: 1.92;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 4px;
  margin-top: 10px;
}

@media (max-width: 991px) {
  .main-image {
    max-width: 100%;
    max-height: 70%;
  }
}

.thumbnail-container {
  display: flex;
  margin-top: 24px;
  width: 100%;
  align-items: flex-start;
  gap: 24px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .thumbnail-container {
    max-width: 100%;
  }
}

.thumbnail-image {
  aspect-ratio: 1.15;
  object-fit: contain;
  object-position: center;
  width: 207px;
  border-radius: 4px;
  flex: 1;
  flex-basis: 0%;
}

.space-details {
  display: flex;
  max-width: 70%;
  flex-direction: column;
  font-size: 16px;
  justify-content: flex-start;
  width: 601px;
  margin-right: 10%;
}

@media (max-width: 991px) {
  .property-content {
    max-width: 100%;
  }
}

.space {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 601px;
  flex-direction: column;
  font-family: Plus Jakarta Sans, -apple-system, Roboto, Helvetica, sans-serif;
  color: var(--Color-Text-Body, #fff);
  font-weight: 400;
  justify-content: flex-start;
}

@media (max-width: 991px) {
  .property-details {
    max-width: 100%;
  }
}

.space-name {
  color: var(--Color-Text-Headings, #fff);
  font-size: 60px;
  font-weight: 800;
  line-height: 1;
  z-index: 0;
}

@media (max-width: 991px) {
  .space-name {
    max-width: 100%;
    font-size: 40px;
  }
}

.space-info {
  align-self: flex-start;
  z-index: 0;
  display: flex;
  margin-top: 16px;
  align-items: flex-start;
  gap: 40px 68px;
  font-family: Poppins, sans-serif;
  white-space: nowrap;
  line-height: 2;
  justify-content: flex-start;
}

@media (max-width: 991px) {
  .space-info {
    white-space: initial;
  }
}

.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: flex-start;
  padding: 8px 0;
}

@media (max-width: 991px) {
  .info-item {
    white-space: initial;
  }
}

.info-icon {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: center;
  width: 24px;
  align-self: stretch;
  margin: auto 0;
}

.divider {
  background-color: rgba(59, 59, 59, 1);
  z-index: 0;
  display: flex;
  min-height: 1px;
  margin-top: 16px;
  width: 100%;
}

@media (max-width: 991px) {
  .divider {
    max-width: 100%;
  }
}

.space-description {
  font-family: Poppins, sans-serif;
  line-height: 26px;
  z-index: 0;
  margin-top: 16px;
}

.space-rate {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}

.booking-button {
  background-color: #fff;
  color: #000000;
  border: none;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 19px;
  margin-top: 16px;
  border-radius: 10%;
  max-width: 50%;
}

@media (max-width: 901px) {
  .booking-button {
    width: 100%;}}


.service-container {
  display: flex;            /* Enable flexbox layout */     
  flex-direction: row;      
  margin-top: 80px;
  max-width: 100%;
  width: 1366px;
  gap: 28px;                /* Space between items */
  justify-content: flex-start; /* Align items along the main axis (horizontally) to the start */
  margin-left: 11.5%;    }

@media (max-width: 991px) {
  .services-container {
     margin-top: 40px;
      }
    }

    .service-card {
      border-radius: 12px;
      background-color: black;
      display: flex;
      max-width: 500px;
      justify-content: flex-start;
      flex: 1;
      flex-basis: 0%;
      padding: 24px;
      margin-bottom: 24px;
      margin-top: 24px;
    }
    @media (max-width: 991px) {
      .service-card {
        padding: 0 20px;
      }
    }